@model CounterViewModel
@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1>Welcome to my Test page @Model.Counter</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
